body {
    font-family: Arial;
    background-color: powderblue;
}

ul{
    display: list-item;
  list-style-type: none;
}
.list-group-item{
    background-color: lightgreen;
    display: list-item;
}
