body {
    font-family: Arial;
    background: powderblue;
}

.container {
    display: list-item;
}
.cars{
    display: list-item;
}
.colors{
    display: list-item;
}
.brands{
    display: list-item;
}