body {
    font-family: Arial;
    background-color: powderblue;
}

ul{
    display: list-item;
  list-style-type: none;
}
.list-group-item{
    background-color: lightgreen;
    display: list-item;
}
.colorFilter{ 
    width:12em;
    padding: 0.5em;
    border-radius: 1em;
    
}

.brandsFilter{
    width:12em;
    padding: 0.5em;
    border-radius: 1em;
    
}
.form-select{
    text-align: center;
}

.search{
    width: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: bisque;
    border-radius: 1em;
    text-align: center;

}

.search-result{
    display: list-item;
}
.header{
    text-align: center;
}
.navigation{
    text-decoration: none;
    padding-right: 30%;
    padding-top: 5%;
}